node_modules/
.npm/
dist/
build/
.next/
.nuxt/
.git/
.gitignore
.env
.env.local
.env.*.local
*.log
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/.idea
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.idea/
*.iml
*.ipr
*.iws
